.navigation {
    background-color: black;
}

.nondecoration {
 text-decoration: none;
}

.contact-information {

}

nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer {

}

a {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    text-align: center;
}

ul li {
    display: block;
}